// Variables
////////////////////////////////////////////////

:root{
    --offWhite: #fefefe;
    --darkWhite: #F5F5F5;
    --offBlack: #111111;
    --brandTeal: #0BECCE;
    --brandTealDark: #09d3b8; 
    --brandTealDarkest: #08bca4; 
    --brandDarkBlue: #133275;

    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Tilt Warp', cursive;

    --siteHorizonalPadding: 26px;
    --siteContentWidth: 1200px;
    --siteContentWidthNarrow: 1000px;
    --siteContentWidthExtraNarrow: 840px;
}

// Site Base
////////////////////////////////////////////////

*{
    box-sizing: border-box;
}

body{
    color: var(--offBlack);
    font-family: var(--primaryFont);
    line-height: 1.4;
    height: 100%;
}

#root{

    >div {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}

.site-main{
    padding: 0px var(--siteHorizonalPadding);
    overflow: hidden;
    flex: 1;
    &__inner{
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;

        > div{

            >*:last-child{
                margin-bottom: 80px;
            }

        }

    }
}

// Site Elements
////////////////////////////////////////////////

.screen-reader-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.center{
    text-align: center;
}

.wrap{
    margin: 0 auto;
    max-width: var(--siteContentWidth);
    width: 100%;

    &.narrow{
        max-width: var(--siteContentWidthNarrow);
    }

    &.extra-narrow{
        max-width: var(--siteContentWidthExtraNarrow);
    }

}

.full-width{
    position: relative;
    z-index: 1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 0px var(--siteHorizonalPadding);
}

.btns-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &.center{
        justify-content: center;
    }

}

.btn{
    &__link{
        display: block;
        padding: 12px 20px;
        color: var(--offWhite);
        background-color: var(--brandTealDark);
        font-family: var(--primaryFont);
        font-size: 18px;
        font-weight: 600;
        border: initial;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease-in;

        &:hover,
        &:focus{
            background-color: var(--brandTealDarkest);
        }

    }
}

// Base Typography
////////////////////////////////////////////////

body{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6{
        font-family: var(--primaryFont);
        line-height: 1.2;
    }
    
    h1,
    .h1{
        margin: 0px;
        font-size: 48px;
    }
    
    h2,
    .h2{
        margin: 10px 0px 20px;
        font-size: 32px;
    }
    
    h3,
    .h3{
        margin: 10px 0px;
        font-size: 28px;
    }
    
    h4,
    .h4{
        margin: 10px 0px;
        font-size: 24px;
    }
    
    p{
        margin: 24px 0px;
        font-family: var(--primaryFont);
        font-size: 18px;
    }

    a{
        color: var(--brandDarkBlue);
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s ease-in;

        &:hover,
        &:focus{
            color: var(--brandTealDarkest);
        }
    }

    @media all and (max-width: 768px) {
        h1,
        .h1{
            font-size: 40px;
        }

        h2,
        .h2{
            font-size: 28px;
        }

        h3,
        .h3{
            font-size: 24px;
        }

        h4,
        .h4{
            font-size: 21px;
        }
    }

}


// Base Images
////////////////////////////////////////////////

img{
    width: auto;
    max-width: 100%;
}

// Base Forms & Inputs
////////////////////////////////////////////////

body{

    .field-contain{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

    }

    label{
        display: inline-block;
        font-weight: 600;
    }

    input[type=text],
    input[type=number]{
        height: 40px;
        padding: 0px 10px;
        font-family: var(--primaryFont);
        border: 2px solid #eee;
        border-radius: 4px;
        outline: none;

        &:focus,
        &:focus-within{
            border-color: var(--brandTeal);
        }

    }

    .form-submit{
        margin: 12px 0px 0px;
    }

}