// Variables
////////////////////////////////////////////////

:root{
    --offWhite: #fefefe;
    --offBlack: #111111;
    --brandTeal: #0BECCE;
    --brandDarkBlue: #133275;

    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Tilt Warp', cursive;

    --siteHorizonalPadding: 20px;
    --siteContentWidth: 1200px;
    --siteContentWidthNarrow: 1000px;
}

// Site Base
////////////////////////////////////////////////

*{
    box-sizing: border-box;
}

body{
    color: var(--offBlack);
    font-family: var(--primaryFont);
    line-height: 1.4;
    height: 100%;
}

.screen-reader-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.wrap{
    margin: 0 auto;
    max-width: var(--siteContentWidth);
    width: 100%;

    &.narrow{
        max-width: var(--siteContentWidthNarrow);
    }

}

.site-main{
    padding: 0px var(--siteHorizonalPadding);
    &__inner{
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;

        >*:last-child{
            margin: 0px 0px 70px;
        }

    }
}

// Base Typography
////////////////////////////////////////////////

p{
    font-family: var(--primaryFont);
    font-size: 18px;
}

// Base Images
////////////////////////////////////////////////

img{
    width: auto;
    max-width: 100%;
}