.cart-table{
    margin: 0px 0px 32px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    border-collapse: separate;
    border-spacing: 0px;
    overflow: hidden;

    thead{
        th{
            padding: 8px;
            border-bottom: 1px solid #e1e1e1;
            font-size: 18px;
        }
    }

    tfoot{
        th,
        td{
            padding: 8px;
            text-align: center;
            font-size: 18px;
        }
    }

    @media all and (max-width: 639px) {
        display: block;

        thead{
            display: none;
        }

        tbody{
            display: block;
        }

        tfoot{
            display: block;
            width: 100%;

            tr{
                display: flex;
                justify-content: space-between;
                gap: 6px;
            }

            td{

                &:first-of-type{
                    display: none;
                }
            }

        }
    }
}