.site-footer{
    padding: 10px var(--siteHorizonalPadding);
    background-color: var(--brandDarkBlue);
    color: var(--offWhite);

    &__inner{
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;
    }

    p{
        margin: 0px;
        text-align: center;
    }

    a{
        color: var(--offWhite);
        transition: color 0.3s ease-in;

        &:hover{
            color: var(--brandTeal);
        }

    }

}