.site-header{
    padding: 10px var(--siteHorizonalPadding);
    background-color: var(--brandDarkBlue);
    color: var(--offWhite);

    &__inner{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;
    }

    .site-logo{
        padding: 0px 20px 0px 0px;
        font-family: var(--secondaryFont);
        font-size: 36px;

        a{
            color: var(--offWhite)!important;
        }

    }

    .site-cart-link{
        padding: 12px;
        font-size: 22px;

        a{
            position: relative;
        }

        .cart-quantity{
            height: 25px;
            width: 25px;
            position: absolute;
            top: -13px;
            right: -13px;
            background-color: var(--brandTealDarkest);
            color: var(--offWhite);
            border-radius: 100%;
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
        }

    }

    a{
        display: block;
        color: var(--offWhite);
        text-decoration: none;
        transition: color 0.3s ease-in;

        &:hover{
            color: var(--brandTeal);
        }

    }


    @media all and (max-width: 768px) {

        .site-logo{
            font-size: 26px;
        }

    }
}