.site-header{
    padding: 10px var(--siteHorizonalPadding);
    background-color: var(--brandDarkBlue);
    color: var(--offWhite);

    &__inner{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;
    }

    .site-logo{
        padding: 0px 20px 0px 0px;
        font-family: var(--secondaryFont);
        font-size: 36px;
    }

    .site-cart-link{
        padding: 12px;
        font-size: 22px;
    }

    a{
        display: block;
        color: var(--offWhite);
        text-decoration: none;
        transition: color 0.3s ease-in;

        &:hover{
            color: var(--brandTeal);
        }

    }


    @media all and (max-width: 768px) {

        .site-logo{
            font-size: 26px;
        }

    }
}