.site-header{
    padding: 10px var(--siteHorizonalPadding);
    background-color: var(--brandDarkBlue);
    color: #fff;

    &__inner{
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: var(--siteContentWidth);
        width: 100%;
    }

    .site-logo{
        padding: 0px 20px 0px 0px;
        font-family: var(--secondaryFont);
        font-size: 36px;
    }

    .site-nav{
        margin-left: auto;
        margin-right: 28px;

        ul{
            display: flex;
            gap: 28px;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }

        li{

        }

    }

    a{
        display: block;
        padding: 10px 0px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.3s ease-in;

        &:hover,
        &:focus{
            color: var(--brandTeal);
        }

    }
}