.products-grid-sect{
    margin: 70px 0px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

@media all and (max-width: 991px) {

    .products-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media all and (max-width: 639px) {

    .products-grid{
        grid-template-columns: 1fr;
        gap: 36px;
    }

}